.frontpage-container{
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	text-align: center;
	margin-top: 20px; 
	display: none;
}
.frontpage-container-small{
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px; 
	display: block;
}
.content-box{
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
}
.tab_container{
	margin-top:30px;
}
.tab_content{
	padding: 20px;
}
.frontpage-container:hover{
	background: #CCCCCC;
	border-style: solid;
	border-color: black;
}
.frontpage-container-small:hover{
	background: #CCCCCC;
	border-style: solid;
	border-color: black;
}
.frontpage-container.active{
	background: #848484;
	color: white;
	border-style: solid;
	border-color: black;
}
.frontpage-container-small.active{
	background: #848484;
	color: white;
	border-style: solid;
	border-color: black;
}
.frontpage-container-small .fa-caret-right{
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	font-size: 30px; 
}
.frontpage-container-small.active .fa-caret-right{
	display: none;

}
.frontpage-container-small .fa-caret-down{
	display: none;
}
.frontpage-container-small.active .fa-caret-down{
	display: inline-block;
	padding-right: 20px;
	padding-left: 15px;
	padding-top: 5px;
	font-size: 30px;
}
.tab-title{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
		
	.frontpage-container{
		display: block;

	}
	.frontpage-container-small{
		display: none;
	}

}
